---
import Layout from "../../layouts/Layout.astro";
const title = "Cart";
---

<Layout title={title}>
    <main class="divider">
      <section class="products">
        <h2>Review & Place your Order</h2>
      </section>
    </main>
    <script src="../../js/checkout.ts"></script>
</Layout>